:root {
    --color-fondo: rgb(242, 245, 252);
    --color-fondo2: #FFFFFF;
    --color-fuente: #0A3871;
    --color-fuente2: rgb(242, 245, 252);
    --color-fuente3: #D8DFE8;
    --color-fuente4: #495057;
    --color-fuente5: #868E96;

    --tipografia: 'Inter', sans-serif;
}
body{
    background-color: var(--color-fondo);
    padding-left: 240px;
}
header{
    height: 40px;
}
.logo{
    position: absolute;
    top: 40px;
    left: 40px;
}
main{
    min-width: 940px;
    width: 100%;
    display: flex;
    margin: auto;
}
.caja_de_texto{
    display: flex;
    flex-grow: 1;
    width: calc(100% - 400px);
    margin-right: 40px;
}.caja_de_texto form{
    width: 100%;
    flex-grow: 1;
}
#campo_de_texto{
    background-color: var(--color-fondo);
    resize: none;
    color: var(--color-fuente);
    border: none;
    outline: none;
    width: inherit;
    height: 677px;
    box-sizing: border-box;
    font-size: 32px;
    font-family: var(--tipografia);
    display: flex;
    margin-bottom: 40px;
    margin-top: 128px;
    line-height: 48px;
}
#campo_de_texto::placeholder{
    color: var(--color-fuente);
    margin-right: 40px;
}
.contenedor_msg_error{
    height: 18px;
    display: flex;
    height: 40px;
    align-items: center;
}
.contenedor_msg_error p{
    font-size: 12px;
    line-height: 18px;
    font-family: var(--tipografia);
    color: var(--color-fuente5);
}
.contenedor_msg_error img{
    margin-right: 8px;
}
.caja_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 67px;
}
.botones{
    width: 328px;
    height: 100%;
    border: 1px solid var(--color-fuente);
    border-radius: 24px;
}
#btn-encriptar{
    font-family: var(--tipografia);
    background-color: var(--color-fuente);
    color: var(--color-fuente3);
    margin-right: 12px;
}
#btn-desencriptar{
    font-family: var(--tipografia);
    background-color: var(--color-fuente3);
    color: var(--color-fuente);
    margin-left: 12px;
}
.caja_resultado{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--color-fondo2);
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 944px;
    width: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}
.caja_resultado img{
    width: 336px;
    height: 304px;
    margin: 0 32px 32px 32px;
}
.resultado{
    width: 336px;
}
.contenedor_texto_resultado{
    margin: 0 32px 32px 32px;
    width: 336px;
    height: 781px;
}
.caja_resultado h3{
    font-family: var(--tipografia);
    font-weight: bold;
    font-size: 24px;
    margin: 12px;
}
.caja_resultado .consejo{
    font-family: var(--tipografia);
    font-size: 16px;
    margin-top: 24px;
}
.caja_resultado .texto_resultado{
    font-family: var(--tipografia);
    color: var(--color-fuente4);
    font-size: 24px;
    margin-top: 18px;
    line-height: 36px;
}
#btn_copiar{
    width: 336px;
    height: 67px;
    border: 1px solid var(--color-fuente);
    color: var(--color-fuente);
    background-color: var(--color-fondo2);
    border-radius: 24px;
    font-size: 16px;
    text-align: center;
    font-family: var(--tipografia);
}

@media screen and (max-width: 768px) and (min-width: 376px){
    body{
        padding-left: 0;
    }
    header{
        height: 240px;
    }
    .logo{
        top: 73px;
        left: 0px;
    }
    main{
        min-width: 768px;
        margin: 0;
        flex-direction: column;
    }
    .caja_de_texto{
        width: 688px;
        margin: 0 40px;
        flex-grow: 0;
    }.caja_de_texto form{
        width: auto;
        flex-grow: 0;
    }
    #campo_de_texto{
        width: 688px;
        height: 590px;
        margin-top: 0;
    }
    .caja_resultado{
        height: auto;
        width: 688px;
        margin: 64px 40px 40px 40px;
    }
    .caja_resultado img{
        display: none;
    }
    .resultado{
        width: calc(100% - 64px);
        margin: 32px;
    }
    .contenedor_texto_resultado{
        margin: 0 32px 32px 32px;
        width: calc(100% - 64px);
        height: auto;
    }
    #btn_copiar{
        width: calc(100% - 64px);
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 375px){
    body{
        padding-left: 0;
    }
    header{
        height: 152px;
    }
    .logo{
        top: 24px;
        left: -30px;
    }
    main{
        min-width: 375px;
        margin: 0;
        flex-direction: column;
    }
    .caja_de_texto{
        width: 343px;
        margin: 0 16px;
        flex-grow: 0;
    }.caja_de_texto form{
        width: auto;
        flex-grow: 0;
    }
    #campo_de_texto{
        width: 343px;
        height: 320px;
        margin-top: 0;
    }
    .caja_botones{
        width: 100%;
        justify-content: space-between;
        height: 158px;
        flex-grow: 0;
        flex-direction: column;
    }
    .botones{
        width: 100%;
        margin: 0 ;
        height: 67px;
    }
    #btn-encriptar{
        align-self: flex-start;
    }
    #btn-desencriptar{
        align-self: flex-end;
    }
    .caja_resultado{
        height: auto;
        width: 343px;
        margin: 64px 16px 40px 16px;
    }
    .caja_resultado img{
        display: none;
    }
    .resultado{
        width: calc(100% - 48px);
        margin: 32px;
    }
    .contenedor_texto_resultado{
        margin: 0 32px 32px 32px;
        width: calc(100% - 48px);
        height: auto;
    }
    #btn_copiar{
        width: calc(100% - 48px);
        margin-bottom: 32px;
    }
}